* text=auto

*.java text eol=lf
*.xml text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.md text eol=lf
*.txt text eol=lf
*.properties text eol=lf
*.json text eol=lf
*.csv text eol=lf
*.ps1 text eol=lf
*.sh text eol=lf
*.bat text eol=crlf
*.cmd text eol=crlf

*.jar binary
*.class binary
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.db binary
*.hprof binary
